.body{
    height: 75vh;
    /* width: 100%; */
    background-image: url('https://th.bing.com/th/id/OIP.JCEbldcZ-hVI8wTFbSq82gHaFj?rs=1&pid=ImgDetMain');
    background-repeat: no-repeat;
    background-size: contain;
    /* margin-top: -15px; */
}