<app-nav-bar></app-nav-bar>
<div style="display: flex; justify-content: center; align-items: center; " >
    <div class="conatiner " style="width: 100%;margin-left: 10px;">
        <div class="row ">
            <div class="col-xs-12">
                <div class="card" style="border: none; width: 100%;">
                    <div class="card-body body" >
                        <!-- <h1 style="text-align: center; margin: 0 auto;">500 Found!</h1> -->
                        <button class="btn btn-outline-primary my-2 my-sm-0" [routerLink]="['']" style="position: absolute; bottom: 50%; right: 40%;">Home Page</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>